/* 최상위 배경 메인 */
.stApp {
  background-color: #0F1924;
  background:
    linear-gradient(
        rgba(2, 6, 23, 0.85),
        rgba(2, 6, 23, 0.85)
    ),
    url("https://images.unsplash.com/photo-1542751371-adc38448a05e");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color : #EBEBEB;
}
p {
  color: #EBEBEB
}

/* 기본 흰 배경 제거 */
[data-testid="stAppViewContainer"] {
    background: transparent;
}

/* 섹션별 배경도 투명 */
[data-testid="stHeader"],
[data-testid="stSidebar"],
[data-testid="stToolbar"] {
    background: transparent;
}

/* streamlit에서 카드같이 구성#252E39 */
/* border=True 컨테이너 래퍼(카드 외곽) */
div[data-testid="stVerticalBlockBorderWrapper"]{
  background: linear-gradient(180deg, rgba(36,44,58,.92), rgba(22,27,36,.92));
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
  padding: 18px 18px;
  margin: 14px 0;
  border-radius: 2px;
}
.st-emotion-cache-1ne20ew{
    background-color : #252E39;
    border-radius : 0rem;
}

/* 카드 안쪽 텍스트 톤 */
div[data-testid="stVerticalBlockBorderWrapper"] *{
  color: #e5e7eb;
}

/* 입력 박스/버튼 톤도 카드에 맞게(선택) */
div[data-testid="stVerticalBlockBorderWrapper"] input{
  background: rgba(2,6,23,0.55);
  border: 1px solid rgba(255,255,255,0.10);
}

/* 상단 메뉴(네비게이션) 전체 배경색 */
header {
    background-color: #171a21;
}

/* 사이드바 배경색 */
section[data-testid="stSidebar"] {
    background-color: #171a21;
}

/* 사이드바 글씨 색 */
section[data-testid="stSidebar"] * {
    color: white;
}

/* 사이드바 메뉴 hover 효과 */
section[data-testid="stSidebar"] div:hover {
    background-color: #21252e;
    border-radius: 8px;
}

/* 상단 로고/텍스트 색 */
header * {
    color: white;
}

/* 로딩 스피너 */

@keyframes steam-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0
}

.loading-spinner {
  position: relative;
  width: 88px;
  height: 88px;
  animation: steam-spin 1s linear infinite;
  opacity: 0.95;
}

/* ===== Loading Overlay (no layout shift) ===== */
.loading-overlay {
  position: fixed;
  inset: 0;               /* top/right/bottom/left: 0 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  pointer-events: none;   /* 화면 클릭 막고 싶으면 none -> auto로 바꾸고 아래 참고 */
}

.loading-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(2, 6, 23, 0.35); /* 살짝 어둡게 */
  backdrop-filter: blur(2px);
}

.st-emotion-cache-nrmo1a{
  width:100%
}

.st-emotion-st-emotion-st-emotion-cache-pk3c77{
  height:3px;
}
